<p></p>
<div class="col-sm-12 col-md-12">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <div class="panel-group">
        <div class="panel panel-default" style="overflow: auto;white-space: nowrap;">
          <div class="panel-heading clearfix">
            <h3 class="panel-title">{{langJson.Index_Tree[1]}}</h3>
          </div>
          <div class="panel-body">
            <tree [tree]="treeH" [settings]="checkboxSettings"  #treeList (change)="setCheckList()"></tree>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="templflg!='0'" class="col-sm-9 col-md-9 col-lg-9">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title">
              <!-- DESIGNATE INDEX -->
              {{langJson.Designate_Index[1]}}
            </h3>
          </div>
          <div class="panel-body">
            <div id="selected_indexs">
              <ul class="list-group">
                <li *ngFor="let d of checkedList" class="list-group-item" style="overflow: auto;white-space: nowrap;">{{d.value}}</li>
              </ul>
            </div>
          </div>
          <div class="panel-footer">
           <button type="button" class="btn btn-primary save-button" (click)="save()">
              <span class="glyphicon glyphicon-saved"></span>
              <!-- Save -->
              {{langJson.Save[1]}}
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-info next-button" (click)="sending()">
              <!-- Send -->
              {{langJson.Send[1]}}
              <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
            <button type="button" class="btn btn-danger pull-right" id="btn_quit">
              <i class="fa fa-sign-out"></i>
              <!-- Quit -->
              {{langJson.Quit[1]}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-message-modal [modalAberto]="modalStatus" [redirectFlag]="redirectFlag"></app-message-modal>
